@use '../modulos/variables' as *; 


/* footer*/
#piedepagina{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 50px 0;
  }
  
  #piedepagina .menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  
  #piedepagina .logo{
    background-image: url(img/logo_redHunt.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 81px;
    justify-content: center;
    align-items: center;
}
  
#piedepagina .frase{
    margin: 0 auto;
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
    font-weight: 600;
    color: #faf9f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;    
}
  
#piedepagina .frase .titulo {
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    color: #faf9f8;
    padding-bottom: 10px;
}

#piedepagina .frase .link a{
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: #faf9f8;
}

#piedepagina .frase .link a:hover{
    color: #9c9c9c;
    transform: scale(1.1);
}

#piedepagina .frase .link a:active{
    color: $color2;
}

#piedepagina ul{
    list-style: none;   
}
  
#piedepagina  ul  .icono{
    font-size: 2rem;
    height: auto;
    padding: 0 10px;
    color: #faf9f8;
}

#piedepagina  ul  .icono:hover{
    color: #656565;
}

#piedepagina  ul  .icono:active{
    color: $color2;
}
#piedepagina  ul li .icono3{
    height: auto;
    font-size: 1.5rem;
    padding: 10px ; 
}
#piedepagina ul li{
    display: flex;
    align-items: center;
    justify-items: center;
}

