@use '../modulos/variables' as *; 


#presentacion{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .contenedor {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor_texto {
        display: flex;
        align-items: center;
        width: 700px;
        z-index: 1;
    }
    .contenedor_texto h1 {
        margin-right: 20px;
        font-size: 6rem;
        color: white;
    }
    span{
        color:$color2;
    }
    .barra__escritura {
        width: 3px;
        height: 70px;
        margin-left: 5px;
        background-color: white;
        transform: rotateZ(10deg);
        animation: barra-animacion 1s ease infinite;
    }
    .contenedor__texto__animacion {
        display: flex;
        color: white;
        font-size: 3rem;
    }
    
    // cards servicios

    #servicios{
        width: 100vw;
        height: 100vh;
        background-color:$color1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #servicios .cards{
        width:$width;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 40px;
    }

    #servicios .card{
        align-items: center;
        justify-content: center;

        border-radius: 5px;
        border: 3px solid  white;
        background-color: black;
    }


#servicios .card h2{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}
#servicios  h2:hover{
    color: $color2;
    scale: 1.1;
}

#servicios .margen{
    padding: 10px;
}
